<% include layout.html %>
<link rel="stylesheet" type="text/css" href="/css/recette.css">
<link rel="stylesheet" type="text/css" href="/css/wizard.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    <a href="#" class="pull-left" id="<% if (typeof user != 'undefined') {%>menu-toggle<% } %>">
    <img src="/logo.png" width="60" height="50"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yakasserole</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/recettes">Recettes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/ateliers">Ateliers</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (typeof user == 'undefined') {%>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nous rejoindre</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalConnexion"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
          <% } else { %>
            <li><a href="/moncompte"><span class="glyphicon glyphicon-user"></span> Bienvenue, <%= user.prenom %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <img src="<% if (typeof user != 'undefined') { %>
                    <% if (user.url_img == null) {%>
                      /person-placeholder.jpg
                    <% } else { %>
                      <%= user.url_img %>
                    <% } %>
                  <% } %>" class="img-responsive img-circle center-block" width="130" height="130">
        <h2 class="text-center" id="nom-nav">
          <% if (typeof user != 'undefined') { %>
            <%= user.prenom %>  <%= user.nom %>
          <% } %>
        </h2>
        <hr class="featurette-divider">
        <li>
          <a href="/mesrecettes">Mes recettes</a>
        </li>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Chef") { %>
            <li>
              <a href="/mesateliers">Mes ateliers</a>
            </li>
          <% } %>
        <% } %>
        <li>
          <a href="/moncompte">Mon profil</a>
        </li>
        <li>
          <a href="/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
    <div id="page-content-wrapper" style="padding: 20px">
      <div class="container-fluid container-main">
        <div class="row">
          <section>
            <div class="wizard">
              <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                  <li role="presentation" class="active">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Choix de l'image et du nom">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-picture"></i>
                      </span>
                    </a>
                  </li>

                  <li role="presentation" class="disabled">
                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Informations complémentaires">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </span>
                    </a>
                  </li>
                  <li role="presentation" class="disabled">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Informations sur l'atelier">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-picture"></i>
                      </span>
                    </a>
                  </li>

                  <li role="presentation" class="disabled">
                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Recette prête!">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-ok"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>

              <form role="form">
                <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="step1">
                    <h2>Choix de l'image et du nom</h2>
                    <div class="row row-10">
                      <div class="col-md-5">
                        <img src="https://fakeimg.pl/1920x1080/" class="img-responsive center-block">
                      </div>
                      <div class="col-md-7">

                        <div class="form-group">
                          <label for="imgAtelier">URL de l'image</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-link"></i></span>
                            <input type="text" class="form-control squared" id="imgAtelier" value="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="nomAtelier">Nom de l'atelier</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
                            <input type="text" class="form-control squared" id="nomAtelier" value="">
                          </div>
                        </div>

                      </div>
                    </div>
                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-primary squared next-step">Etape suivante</button></li>
                    </ul>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="step2">
                    <h2>Informations complémentaires</h2>

                    <div class="row row-10">
                      <div class="col-md-12">

                        <div class="form-group">
                          <label for="imgAtelier">Jour de l'atelier</label>
                          <div class="input-group">
                            <span class="input-group-addon squared">Jour</span>
                            <input type="text" class="form-control" id="inputJour"/>
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">Mois</span>
                            <input type="text" class="form-control squared" id="inputMois">
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">Année</span>
                            <input type="text" class="form-control squared" id="inputAnnée">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="imgAtelier">Heure de début</label>
                              <div class="input-group">
                                <input type="text" class="form-control squared" id="inputHeureDébut"/>
                                <span class="input-group-addon" style="border-left: 0; border-right: 0;">h</span>
                                <input type="text" class="form-control squared" id="inputMinuteDébut">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="imgAtelier">Durée de l'atelier</label>
                              <div class="input-group">
                                <span class="input-group-addon squared">Heures</span>
                                <input type="text" class="form-control" id="inputHeure"/>
                                <span class="input-group-addon" style="border-left: 0; border-right: 0;">Minutes</span>
                                <input type="text" class="form-control squared" id="inputMinute">
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="form-group">
                          <label for="nomAtelier">Nombre de personne</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control squared" id="perAtelier" value="">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="nomAtelier">Adresse</label>
                              <div class="input-group">
                                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control squared" id="adresseAtelier" value="">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="nomAtelier">Pays</label>
                              <div class="input-group">
                                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control squared" id="paysAtelier" value="">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="nomAtelier">Ville</label>
                              <div class="input-group">
                                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control squared" id="villeAtelier" value="">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="nomAtelier">Code postal</label>
                              <div class="input-group">
                                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control squared" id="codeAtelier" value="">
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-default prev-step squared">Etape précédente</button></li>
                      <li><button type="button" class="btn btn-primary next-step squared">Etape suivante</button></li>
                    </ul>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="step3">
                    <h2>Informations sur l'atelier</h2>

                    <div class="row">
                      <div id="etapes">

                        <div class="form-group">
                          <textarea class="form-control vresize squared" rows="10" id="infosAtelier"></textarea>
                        </div>

                        <div class="form-group">
                          <label for="nomAtelier">Coût de l'atelier</label>
                          <div class="input-group">
                            <input type="text" class="form-control squared" id="prixAtelier" value="">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-euro"></i></span>
                          </div>
                        </div>

                      </div>
                    </div>

                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-default prev-step squared">Etape précédente</button></li>
                      <li><button type="button" class="btn btn-primary btn-info-full next-step squared">Etape suivante</button></li>
                    </ul>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="complete">
                    <h3>Atelier prêt!</h3>
                    <p>Vous avez remplis toutes les étapes. Il ne reste plus qu'à l'a poster!</p>
                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-primary btn-info-full next-step squared" onclick="envoi_recette()" id="envoi">Valider</button></li>
                    </ul>
                  </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </section>
        </div>

      </div>
    </div>



  </div>

  <script>
  $(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();

    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

      var $target = $(e.target);

      if ($target.parent().hasClass('disabled')) {
        return false;
      }
    });

    $(".next-step").click(function (e) {

      var $active = $('.wizard .nav-tabs li.active');
      $active.next().removeClass('disabled');
      nextTab($active);

    });
    $(".prev-step").click(function (e) {

      var $active = $('.wizard .nav-tabs li.active');
      prevTab($active);

    });
  });

  function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
  }
  function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
  }
  </script>

  <script>
  function hideThings() {
    $('#first').toggleClass('hidden');
  }
  </script>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>

  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>

  <script>
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 300) {
        $(this).addClass("slideAni");
      }
    });
  });
  </script>

  <script>
    function escapeHtml(text) {
      var map = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#039;'
      };

      return text.replace(/[&<>"']/g, function(m) { return map[m]; });
    }

    function envoi_recette() {
      $("#envoi").prop('disabled', true);
      var result = {};
      result.url_img = escapeHtml(document.getElementById("imgAtelier").value);
      result.nom = escapeHtml(document.getElementById("nomAtelier").value);
      var heure = "";
      var minute = "";
      var heureD = "";
      var minuteD = "";
      if (document.getElementById("inputHeure").value == "") {
        heure = "0";
      } else {
        heure = escapeHtml(document.getElementById("inputHeure").value);
      }
      if (document.getElementById("inputMinute").value == "") {
        minute = "0";
      } else {
        minute = escapeHtml(document.getElementById("inputMinute").value);
      }
      if (document.getElementById("inputHeureDébut").value == "") {
        heureD = "0";
      } else {
        heureD = escapeHtml(document.getElementById("inputHeureDébut").value);
      }
      if (document.getElementById("inputMinuteDébut").value == "") {
        minuteD = "0";
      } else {
        minuteD = escapeHtml(document.getElementById("inputMinuteDébut").value);
      }
      result.date = "" + document.getElementById("inputAnnée").value + "-" +
                    document.getElementById("inputMois").value + "-" +
                    document.getElementById("inputJour").value + " 00:" +
                    heureD + ":" + minuteD;
      result.duree = "00:" + heure + ":" + minute;
      result.nb_personnes = escapeHtml(document.getElementById("perAtelier").value);
      result.informations = escapeHtml(document.getElementById("infosAtelier").value);
      result.ville = escapeHtml(document.getElementById("villeAtelier").value);
      result.adresse = escapeHtml(document.getElementById("adresseAtelier").value);
      result.pays = escapeHtml(document.getElementById("paysAtelier").value);
      result.code_postal = escapeHtml(document.getElementById("codeAtelier").value);
      result.prix = escapeHtml(document.getElementById("prixAtelier").value);
      //alert(JSON.stringify(result));
      $.post("/ajoutatelier",
      {
        json: JSON.stringify(result)
      },
      function(data) {
        $("#envoi").prop('disabled', false);
        console.log(data);
        if (data == 'success') {
          $(location).attr("href", "/mesateliers");
        }
        else {
          alert("Erreur");
        }
      });
    }
  </script>

</body>



</html>
