<% include layout.html %>
<link rel="stylesheet" type="text/css" href="/css/recette.css">
<link rel="stylesheet" type="text/css" href="/css/wizard.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    <a href="#" class="pull-left" id="<% if (typeof user != 'undefined') {%>menu-toggle<% } %>">
    <img src="/logo.png" width="60" height="50"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yakasserole</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/recettes">Recettes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/ateliers">Ateliers</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (typeof user == 'undefined') {%>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nous rejoindre</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalConnexion"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
          <% } else { %>
            <li><a href="/moncompte"><span class="glyphicon glyphicon-user"></span> Bienvenue, <%= user.prenom %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <img src="<% if (typeof user != 'undefined') { %>
                    <% if (user.url_img == null) {%>
                      /person-placeholder.jpg
                    <% } else { %>
                      <%= user.url_img %>
                    <% } %>
                  <% } %>" class="img-responsive img-circle center-block" width="130" height="130">
        <h2 class="text-center" id="nom-nav">
          <% if (typeof user != 'undefined') { %>
            <%= user.prenom %>  <%= user.nom %>
          <% } %>
        </h2>
        <hr class="featurette-divider">
        <li>
          <a href="/mesrecettes">Mes recettes</a>
        </li>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Chef" || user.status == "Admin") { %>
            <li>
              <a href="/mesateliers">Mes ateliers</a>
            </li>
          <% } %>
        <% } %>
        <li>
          <a href="/moncompte">Mon profil</a>
        </li>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Admin" || user.status == "Responsable Atelier" || user.status == "Responsable Recette") { %>
            <li>
              <a href="/donnees">Données</a>
            </li>
          <% } %>
        <% } %>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Admin") { %>
            <li>
              <a href="/statistiques">Statistiques</a>
            </li>
          <% } %>
        <% } %>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Membre") { %>
            <li>
              <a href="/mesreservations">Mes réservations</a>
            </li>
          <% } %>
        <% } %>
        <li>
          <a href="/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
    <div id="page-content-wrapper" >
      <div class="container-fluid container-main" style="margin: 20px">
        <div class="row">
          <section>
            <div class="wizard">
              <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                  <li role="presentation" class="active">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Choix de l'image et du nom">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-picture"></i>
                      </span>
                    </a>
                  </li>

                  <li role="presentation" class="disabled">
                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Informations complémentaires">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </span>
                    </a>
                  </li>
                  <li role="presentation" class="disabled">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Etapes de la recette">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-picture"></i>
                      </span>
                    </a>
                  </li>

                  <li role="presentation" class="disabled">
                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Recette prête!">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-ok"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>

              <form role="form">
                <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="step1">
                    <h2>Choix de l'image et du nom</h2>
                    <div class="row row-10">
                      <div class="col-md-5">
                        <img src="https://fakeimg.pl/1920x1080/" class="img-responsive center-block">
                      </div>
                      <div class="col-md-7">

                        <div class="form-group">
                          <label for="imgRecette">URL de l'image</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-link"></i></span>
                            <input type="text" class="form-control squared" id="imgRecette" value="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="nomRecette">Nom de la recette</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
                            <input type="text" class="form-control squared" id="nomRecette" value="">
                          </div>
                        </div>

                      </div>
                    </div>
                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-primary squared next-step">Etape suivante</button></li>
                    </ul>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="step2">
                    <h2>Informations complémentaires</h2>

                    <div class="row row-10">
                      <div class="col-md-12">

                        <div class="form-group">
                          <label for="imgRecette">Temps de préparation</label>
                          <div class="input-group">
                            <span class="input-group-addon squared">Heures</span>
                            <input type="text" class="form-control" id="inputHeure"/>
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">Minutes</span>
                            <input type="text" class="form-control squared" id="inputMinute">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="nomRecette">Nombre de personne</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control squared" id="perRecette" value="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="nomRecette">Ingrédients</label>
                          <div class="input-group">
                            <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-menu-right"></i></span>
                            <textarea class="form-control vresize squared" rows="5" id="ingredients"></textarea>
                          </div>
                        </div>


                      </div>
                    </div>
                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-default prev-step squared">Etape précédente</button></li>
                      <li><button type="button" class="btn btn-primary next-step squared">Etape suivante</button></li>
                    </ul>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="step3">
                    <h2>Etapes de la recette</h2>

                    <div class="row">
                      <div id="etapes">

                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon squared">Etape 1</span>
                            <textarea class="form-control vresize squared" rows="5" id="etape1"></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon squared">Etape 2</span>
                            <textarea class="form-control vresize squared" rows="5" id="etape2"></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon squared">Etape 3</span>
                            <textarea class="form-control vresize squared" rows="5" id="etape3"></textarea>
                          </div>
                        </div>

                      </div>
                      <div class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default squared" onclick="supprimer_etape()" id="buttonSuppr"><span class="glyphicon glyphicon-minus"></span></button>
                          <button type="button" class="btn btn-default squared" onclick="ajout_etape()" id="buttonAjout"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                      </div>
                    </div>

                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-default prev-step squared">Etape précédente</button></li>
                      <li><button type="button" class="btn btn-primary btn-info-full next-step squared">Etape suivante</button></li>
                    </ul>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="complete">
                    <h3>Recette prête!</h3>
                    <p>Vous avez remplis toutes les étapes. Il ne reste plus qu'à la poster!</p>
                    <hr class="featurette-divider">
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-primary btn-info-full next-step squared" onclick="envoi_recette()" id="envoi">Valider</button></li>
                    </ul>
                  </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </section>
        </div>



      </div>
      <hr class="featurette-divider">
      <footer class="container-fluid text-center">
        <p class="float-right"> © Copyright YaKasserole 2017. <a href="/nouscontacter">Nous contacter</a></p>
      </footer>
    </div>



  </div>

  <script>
  $(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();

    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

      var $target = $(e.target);

      if ($target.parent().hasClass('disabled')) {
        return false;
      }
    });

    $(".next-step").click(function (e) {

      var $active = $('.wizard .nav-tabs li.active');
      $active.next().removeClass('disabled');
      nextTab($active);

    });
    $(".prev-step").click(function (e) {

      var $active = $('.wizard .nav-tabs li.active');
      prevTab($active);

    });
  });

  function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
  }
  function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
  }
  </script>

  <script>
  function hideThings() {
    $('#first').toggleClass('hidden');
  }
  </script>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>

  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>

  <script>
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 300) {
        $(this).addClass("slideAni");
      }
    });
  });
  </script>

  <script>
    function ajout_etape() {
      var nb_etape_ac = $('#etapes').children().length;
      if (nb_etape_ac >= 20) { return; }
      if (nb_etape_ac <= 0) { $("#buttonSuppr").toggleClass("disabled"); }
      var res = "<div class=\"form-group\">" +
                "<div class=\"input-group\">" +
                "<span class=\"input-group-addon squared\">Etape " + (nb_etape_ac + 1) + "</span>" +
                "<textarea class=\"form-control vresize squared\" rows=\"5\" id=\"etape" + (nb_etape_ac + 1) + "\"></textarea>" +
                "</div></div>";
      $("#etapes").append(res);
      if (nb_etape_ac + 1 >= 20) {
        $("#buttonAjout").toggleClass("disabled");
      }
    }

    function supprimer_etape() {
      var nb_etape_ac = $('#etapes').children().length;
      if (nb_etape_ac <= 0) { return; }
      if (nb_etape_ac >= 20) { $("#buttonAjout").toggleClass("disabled"); }
      $("#etapes").children().last().remove();
      if (nb_etape_ac - 1 <= 0) {
        $("#buttonSuppr").toggleClass("disabled");
      }
    }
  </script>

  <script>
    function escapeHtml(text) {
      var map = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#039;'
      };

      return text.replace(/[&<>"']/g, function(m) { return map[m]; });
    }

    function envoi_recette() {
      $("#envoi").prop('disabled', true);
      var result = {};
      result.url_img = escapeHtml(document.getElementById("imgRecette").value);
      result.nom = escapeHtml(document.getElementById("nomRecette").value);
      if (document.getElementById("inputHeure").value == "") {
        result.heure = 0;
      } else {
        result.heure = escapeHtml(document.getElementById("inputHeure").value);
      }
      result.minutes = escapeHtml(document.getElementById("inputMinute").value);
      result.nb_personnes = escapeHtml(document.getElementById("perRecette").value);
      result.etapes = new Array();
      result.etapes[result.etapes.length] = escapeHtml(document.getElementById("ingredients").value);
      var nb_etape_ac = $('#etapes').children().length;
      for (var tmp = 1; tmp <= nb_etape_ac; tmp++) {
        var value = "etape" + tmp;
        result.etapes[result.etapes.length] = escapeHtml(document.getElementById(value).value);
      }
      //alert(JSON.stringify(result));
      $.post("/ajoutrecette",
      {
        json: JSON.stringify(result)
      },
      function(data) {
        $("#envoi").prop('disabled', false);
        console.log(data);
        if (data == 'success') {
          $(location).attr("href", "/mesrecettes");
        }
        else {
          alert("Erreur");
        }
      });
    }
  </script>

</body>



</html>
