<% include layout.html %>
<script type="text/javascript" src="/datatable/jquery.dataTables.js"></script>
<script type="text/javascript" src="/datatable-net/js/dataTables.bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/datatable-net/css/dataTables.bootstrap.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    <a href="#" class="pull-left" id="<% if (typeof user != 'undefined') {%>menu-toggle<% } %>">
    <img src="/logo.png" width="60" height="50"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yakasserole</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/recettes">Recettes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/ateliers">Ateliers</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (typeof user == 'undefined') {%>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nous rejoindre</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalConnexion"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
          <% } else { %>
            <li><a href="/moncompte"><span class="glyphicon glyphicon-user"></span> Bienvenue, <%= user.prenom %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="modalModification" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content squared">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modification du compte</h4>
        </div>
        <div class="modal-body">
          <div id="modification-loader" class="loader center-div hidden"></div>
          <div id="modification-content" class="">
            <div id="modification-alert"></div>
            <div class="form-group">
              <label for="imgModification">URL de l'image:</label>
              <div class="input-group">
                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-link"></i></span>
                <input type="text" class="form-control squared" id="imgModification" value="<%= user.url_img %>">
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="prenomModification">Prénom:</label>
                  <input type="text" class="form-control squared" id="prenomModification" value="<%= user.prenom %>">
                </div>
                <div class="col-md-6">
                  <label for="nomModification">Nom:</label>
                  <input type="text" class="form-control squared" id="nomModification" value="<%= user.nom %>">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="adresseModification">Adresse:</label>
              <div class="input-group">
                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-home"></i></span>
                <input type="text" class="form-control squared" id="adresseModification" value="<%= user.adresse %>">
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="paysModification">Pays:</label>
                  <input type="text" class="form-control squared" id="paysModification" value="<%= user.pays %>">
                </div>
                <div class="col-md-4">
                  <label for="villeModification">Ville:</label>
                  <input type="text" class="form-control squared" id="villeModification" value="<%= user.ville %>">
                </div>
                <div class="col-md-4">
                  <label for="codeModification">Code postal:</label>
                  <input type="text" class="form-control squared" id="codeModification" value="<%= user.code_postal %>">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="numModification">Téléphone:</label>
              <div class="input-group">
                <span class="input-group-addon squared" id="sizing-addon1"><i class="glyphicon glyphicon-phone"></i></span>
                <input type="text" class="form-control squared" id="numModification" value="<%= user.telephone %>">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="modification()" class="btn btn-primary squared" id="modification-bouton">Enregistrer modification</button>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <img src="<% if (typeof user != 'undefined') { %>
                    <% if (user.url_img == null) {%>
                      /person-placeholder.jpg
                    <% } else { %>
                      <%= user.url_img %>
                    <% } %>
                  <% } %>" class="img-responsive img-circle center-block" width="130" height="130">
        <h2 class="text-center" id="nom-nav">
          <% if (typeof user != 'undefined') { %>
            <%= user.prenom %>  <%= user.nom %>
          <% } %>
        </h2>
        <hr class="featurette-divider">
        <li>
          <a href="/mesrecettes">Mes recettes</a>
        </li>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Chef") { %>
            <li>
              <a href="/mesateliers">Mes ateliers</a>
            </li>
          <% } %>
        <% } %>
        <li>
          <a href="/moncompte">Mon profil</a>
        </li>
        <li>
          <a href="/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
    <div id="page-content-wrapper" style="padding: 20px">
      <div class="container-fluid container-main">

        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <img src="<% if (typeof user != 'undefined') { %>
                            <% if (user.url_img == null) {%>
                              /person-placeholder.jpg
                            <% } else { %>
                              <%= user.url_img %>
                            <% } %>
                          <% } %>" class="img-responsive img-thumbnail center-block" width="250" height="250">
              </div>
            </div>
            <div class="row row-10">
              <div class="col-md-12">
                <button type="button" class="btn btn-warning center-block squared"><span class="glyphicon glyphicon-star"></span><b> Passer premium<b></button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
                <h1><% if (typeof user != 'undefined') { %>
                <%= user.prenom %>  <%= user.nom %>
                <% } %><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 15px; cursor: pointer;" data-toggle="modal" data-target="#modalModification"></span></h1>
                <hr class="featurette-divider">

                <div><div class="profile-row">Email
                  <div class="profile-text">
                    <% if (typeof user != 'undefined') { %>
                      <% if (user.email == null) {%>
                        -
                      <% } else { %>
                        <%= user.email %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
                </div>

                <div><div class="profile-row">Téléphone
                  <div class="profile-text">
                    <% if (typeof user != 'undefined') { %>
                      <% if (user.telephone == null) {%>
                        -
                      <% } else { %>
                        <%= user.telephone %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
                </div>

                <hr class="featurette-divider">

                <div><div class="profile-row">Pays
                  <div class="profile-text">
                    <% if (typeof user != 'undefined') { %>
                      <% if (user.pays == null) {%>
                        -
                      <% } else { %>
                        <%= user.pays %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
                </div>

                <div><div class="profile-row">Ville
                  <div class="profile-text">
                    <% if (typeof user != 'undefined') { %>
                      <% if (user.ville == null) {%>
                        -
                      <% } else { %>
                        <%= user.ville %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
                </div>

                <div><div class="profile-row">Adresse
                  <div class="profile-text">
                    <% if (typeof user != 'undefined') { %>
                      <% if (user.adresse == null) {%>
                        -
                      <% } else { %>
                        <%= user.adresse %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
                </div>

                <div><div class="profile-row">Code postal
                  <div class="profile-text">
                    <% if (typeof user != 'undefined') { %>
                      <% if (user.code_postal == null) {%>
                        -
                      <% } else { %>
                        <%= user.code_postal %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
              </div>

            </div>
            <hr class="featurette-divider">
            <div class="row">
              <h1>Transactions</h1>

              <table id="example" class="table  table-hover" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Cause</th>
                    <th>Somme</th>
                  </tr>
                </thead>
                <tbody id="tableTransac">
                </tbody>
              </table>
            </div>
          </div>


    </div>
  </div>

  <script>


      $(document).ready(function() {
        var nbtransac = <%= transaction.rowCount %>;
        var transaction = <%- JSON.stringify(transaction.rows) %>;
        for (var iter = 0; iter < nbtransac; iter++) {
          var res = "<tr><td>" + transaction[iter].date + "</td>" +
          "<td>" + transaction[iter].nom + "</td>" +
          "<td>" + transaction[iter].somme + "</td></tr>";
          $("#tableTransac").append(res);
        }
      $('#example').DataTable({
        language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
        }
      });
      });

  </script>

  <script>
  function hideThings() {
    $('#first').toggleClass('hidden');
  }
  </script>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>

  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>

  <script>
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 300) {
        $(this).addClass("slideAni");
      }
    });
  });
  </script>

  <script>

  function modification() {
    if (document.getElementById("prenomModification").value == "") {
      document.getElementById("modification-alert").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">Votre prénom doit avoir une valeur.</div>";
      return;
    }
    if (document.getElementById("nomModification").value == "") {
      document.getElementById("modification-alert").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">Votre nom doit avoir une valeur.</div>";
      return;
    }
    document.getElementById("modification-alert").innerHTML = ""
    $("#modification-bouton").prop('disabled', true);
    $.post("/modification",
    {
      prenom: document.getElementById("prenomModification").value,
      nom: document.getElementById("nomModification").value,
      adresse: document.getElementById("adresseModification").value,
      pays: document.getElementById("paysModification").value,
      ville: document.getElementById("villeModification").value,
      code: document.getElementById("codeModification").value,
      numero: document.getElementById("numModification").value,
      urlimg: document.getElementById("imgModification").value
    },
    function(data) {
      $("#inscription-bouton").prop('disabled', false);
      console.log(data);
      if (data == 'success') {
        $(location).attr("href", "/moncompte");
      }
      else {
        document.getElementById("modification-alert").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">Une erreur a eu lieu, veuilez rééssayez ultérieurement.</div>";
      }
    });
  }

  </script>

</body>



</html>
