<% include layout.html %>
<link rel="stylesheet" type="text/css" href="/css/recette.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    <a href="#" class="pull-left" id="<% if (typeof user != 'undefined') {%>menu-toggle<% } %>">
    <img src="/logo.png" width="60" height="50"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yakasserole</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/recettes">Recettes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/ateliers">Ateliers</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (typeof user == 'undefined') {%>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nous rejoindre</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalConnexion"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
          <% } else { %>
            <li><a href="/moncompte"><span class="glyphicon glyphicon-user"></span> Bienvenue, <%= user.prenom %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <img src="<% if (typeof user != 'undefined') { %>
                    <% if (user.url_img == null) {%>
                      /person-placeholder.jpg
                    <% } else { %>
                      <%= user.url_img %>
                    <% } %>
                  <% } %>" class="img-responsive img-circle center-block" width="130" height="130">
        <h2 class="text-center" id="nom-nav">
          <% if (typeof user != 'undefined') { %>
            <%= user.prenom %>  <%= user.nom %>
          <% } %>
        </h2>
        <hr class="featurette-divider">
        <li>
          <a href="/mesrecettes">Mes recettes</a>
        </li>
        <li>
          <a href="#">Mon ateliers</a>
        </li>
        <li>
          <a href="/moncompte">Mon profil</a>
        </li>
        <li>
          <a href="/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
    <div id="page-content-wrapper" style="padding: 20px">
      <div class="container-fluid container-main">
        <div class="row">
          <h1>Nos recettes</h1>
        </div>

        <div class="row row-10">
          <div class="col-md-12">
            <div>
              <% if (recettes.rowCount == 0) {%>
                  <img class="img-responsive" src="https://fakeimg.pl/1920x1080/" alt="first"/>
              <% } else { %>

                <div>
                  <div class="recette-container">
                    <img class="img-responsive image" src="<%= recettes.rows[0].url_img %>">
                    <div class="middle" style="left: 5%">
                      <div class="text-pref">Recette du moment</div>
                      <div class="text-name-pref"><%= recettes.rows[0].nom %></div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
          <h1> Recherche </h1>
        </div>
        <div class="row row-10">
          <div class="col-md-6">

            <div class="input-group">
              <input type="text" class="form-control squared" placeholder="Rechercher..." id="search">
              <div class="input-group-btn">
                <button class="btn btn-default squared" type="submit" id="searchButton" onclick="search()">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="form-group">
              <select class="form-control squared" id="sel1">
                <option>Approbation</option>
                <option>Temps</option>
                <option>Alphabétique</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row row-10">
          <div id="loader" class="loader center-div hidden"></div>

          <div id="recettesTable">
          </div>


      </div>




    </div>



  </div>

  <script>
    var recettesSize = <%= recettes.rowCount %>;
    var recettes = <%- JSON.stringify(recettes.rows) %>;
    for (var iter = 0; iter < recettesSize; iter++) {

      var res = "<div id=\"first\" class=\"col-md-3 col-sm-4 col-xs-12\">" +
        "<div class=\"recette-container\">" +
        "<a href=\"recettes/" + recettes[iter].id + "\"><img class=\"img-responsive image\" src=\"";
      if (recettes[iter].url_img == null) {
        res = res + "https://fakeimg.pl/1920x1080/";
      } else {
        res = res + recettes[iter].url_img;
      }
      res = res + "\"/></a>" +
          "<div class=\"middle\">" +
            "<div class=\"text\">" + recettes[iter].nom + "</div>" +
            "<div class=\"text-time\">" + recettes[iter].tmp_prep + "</div>" +
            "<p style=\"color: white; font-size: 1.5em; font-weight: bold; text-align: left;\"><span class=\"glyphicon glyphicon-heart\" aria-hidden=\"true\"></span> " +
            recettes[iter].nb_aime + "</p></div></div></div>";
      $("#recettesTable").append(res);
    }
  </script>

  <script>
    function search() {
      $("#searchButton").prop('disabled', true);
      document.getElementById("recettesTable").innerHTML = "";
      $("#loader").toggleClass("hidden");
      $.post('/rechercherecette',
      {
        text: document.getElementById("search").value,
        ordre: document.getElementById("sel1").value
      }, function(data)
      {
        if (data != null) {
          var recettesSize = data.rowCount;
          var recettes = data.rows;
          for (var iter = 0; iter < recettesSize; iter++) {

            var res = "<div id=\"first\" class=\"col-md-3 col-sm-4 col-xs-12\">" +
              "<div class=\"recette-container\">" +
              "<a href=\"recettes/" + recettes[iter].id + "\"><img class=\"img-responsive image\" src=\"";
            if (recettes[iter].url_img == null) {
              res = res + "https://fakeimg.pl/1920x1080/";
            } else {
              res = res + recettes[iter].url_img;
            }
            res = res + "\"/></a>" +
                "<div class=\"middle\">" +
                  "<div class=\"text\">" + recettes[iter].nom + "</div>" +
                  "<div class=\"text-time\">" + recettes[iter].tmp_prep + "</div>" +
                  "<p style=\"color: white; font-size: 1.5em; font-weight: bold; text-align: left;\"><span class=\"glyphicon glyphicon-heart\" aria-hidden=\"true\"></span> " +
                  recettes[iter].nb_aime + "</p></div></div></div>";
            $("#recettesTable").append(res);
          }
        $("#searchButton").prop('disabled', false);
        $("#loader").toggleClass("hidden");
      }
      });
    }
  </script>

  <script>
  function hideThings() {
    $('#first').toggleClass('hidden');
  }
  </script>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>

  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>

  <script>
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 300) {
        $(this).addClass("slideAni");
      }
    });
  });
  </script>

</body>



</html>
