<% include layout.html %>
<link rel="stylesheet" type="text/css" href="/css/recette.css">
<link rel="stylesheet" type="text/css" href="/css/wizard.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    <a href="#" class="pull-left" id="<% if (typeof user != 'undefined') {%>menu-toggle<% } %>">
    <img src="/logo.png" width="60" height="50"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yakasserole</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/recettes">Recettes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/ateliers">Ateliers</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (typeof user == 'undefined') {%>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nous rejoindre</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalConnexion"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
          <% } else { %>
            <li><a href="/moncompte"><span class="glyphicon glyphicon-user"></span> Bienvenue, <%= user.prenom %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <img src="<% if (typeof user != 'undefined') { %>
                    <% if (user.url_img == null) {%>
                      /person-placeholder.jpg
                    <% } else { %>
                      <%= user.url_img %>
                    <% } %>
                  <% } %>" class="img-responsive img-circle center-block" width="130" height="130">
        <h2 class="text-center" id="nom-nav">
          <% if (typeof user != 'undefined') { %>
            <%= user.prenom %>  <%= user.nom %>
          <% } %>
        </h2>
        <hr class="featurette-divider">
        <li>
          <a href="/mesrecettes">Mes recettes</a>
        </li>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Chef" || user.status == "Admin") { %>
            <li>
              <a href="/mesateliers">Mes ateliers</a>
            </li>
          <% } %>
        <% } %>
        <li>
          <a href="/moncompte">Mon profil</a>
        </li>
        <% if (typeof user != 'undefined' ) { %>
          <% if (user.status == "Admin") { %>
            <li>
              <a href="/donnees">Données</a>
            </li>
          <% } %>
        <% } %>
        <li>
          <a href="/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
    <div id="page-content-wrapper">
      <img src="<% if (recette_info.rows[0].url_img == null) {%>
                    https://fakeimg.pl/1920x1080/
                  <% } else { %>
                    <%= recette_info.rows[0].url_img %>
                <% } %>" class="img-responsive center-block">
      <div class="container-fluid container-main">
        <h1><%- recette_info.rows[0].nom %></h1>
        <div class="row">
          <div class="col-md-6">
            <h2>Pour <%= recette_info.rows[0].nb_personne %> personnes</h2>
          </div>
          <div class="col-md-6">
            <% if (aimer == "0") {%>
              <button type="button" class="btn btn-primary pull-right squared" onclick="love()"><span class="glyphicon glyphicon-heart"></span> J'aime</button>
            <% } else { %>
              <button type="button" class="btn btn-secondary pull-right squared" onclick="notlove()"><span class="glyphicon glyphicon-heart"></span> Je n'aime plus</button>
            <% } %>
          </div>
        </div>
        <hr class="featurette-divider">
        <div id="etapes">
          <div class="panel panel-default">
            <div class="panel-heading">Ingrédients</div>
            <div class="panel-body"><%- recette_etapes.rows[0].contenu.replace(/(?:\r\n|\r|\n)/g, '<br />'); %></div>
          </div>
          <hr class="featurette-divider">

      </div>
      <hr class="featurette-divider">

      <div class="row row-10" id="comment">
      </div>

      <div class="row row-10">
        <h2>Donnez votre avis<h2>
        <textarea class="form-control vresize squared" rows="5" id="textcomment"></textarea>
        <button type="button" class="btn btn-primary squared" onclick="creer()">Confirmer</button>
      </div>


    </div>
    <hr class="featurette-divider">
    <footer class="container-fluid text-center">
      <p class="float-right"> © Copyright YaKasserole 2017. <a href="/nouscontacter">Nous contacter</a></p>
    </footer>


  </div>

  <script>
    var nb = <%= recette_etapes.rowCount %>;
    var recette = <%- JSON.stringify(recette_etapes.rows) %>;
    for (var tmp = 1; tmp < nb; tmp++) {
      var res = "<div class=\"panel panel-default\">" +
                "<div class=\"panel-heading\">Etape " + tmp + "</div>" +
                "<div class=\"panel-body\">" + recette[tmp].contenu.replace(/(?:\r\n|\r|\n)/g, '<br />') + "</div></div>";
      $( "#etapes" ).append( res );
    }
    var nbcomment = <%= commentaires.rowCount %>;
    var comments = <%- JSON.stringify(commentaires.rows) %>;
    for (var iter = 0; iter < nbcomment; iter++) {
      var res = "<div class=\"media\">" +
        "<div class=\"media-left\">" +
          "<img src=\"";
      if (comments[iter].url_img == null) {
        res = res + "/person-placeholder.jpg";
      } else {
        res = res + comments[iter].url_img;
      }
          res = res + "\" class=\"media-object img-circle\" style=\"width:60px\">" +
        "</div><div class=\"media-body\">" +
          "<h4 class=\"media-heading\">" + comments[iter].prenom + " " + comments[iter].nom + "</h4>" +
          "<div id=\"contenu" + comments[iter].id + "\">" +
            "<p id=\"text" + comments[iter].id +"\">" + comments[iter].contenu + "</p>" +
          "</div>" +
        "</div>";
        if (comments[iter].id_compte == <%= user.id %>) {
          res = res + "<div class=\"media-footer pull-right\" id=\"footer" + comments[iter].id + "\">" +
            "<button type=\"button\" class=\"btn-primary squared\" onclick=\"editer(" + comments[iter].id + ")\">Editer</button>" +
            "\n<button type=\"button\" class=\"btn-primary squared\" onclick=\"supprimer(" + comments[iter].id + ")\">Supprimer</button>" +
          "</div></div>";
        }
      $( "#comment" ).append( res );
    }
  </script>

  <script>
    function editer(id) {
      document.getElementById("contenu" + id).innerHTML = "<textarea class=\"form-control vresize squared\" rows=\"3\" id=\"edite" + id + "\">" +
      document.getElementById("text" + id).innerHTML + "</textarea>";
      document.getElementById("footer" + id).innerHTML = "<button type=\"button\" class=\"btn-primary squared\" style=\"margin-top: 10px\" onclick=\"modify(" + id + ")\">Confirmer</button>";
    }

    function modify(id) {
      if (document.getElementById("edite" + id).value == "") {
        supprimer(id);
      } else {
        $.post('/editecommentaire',
        {
          text: document.getElementById("edite" + id).value,
          idcomment: id
        }, function()
        {
          location.reload();
        });
      }
    }

    function supprimer(id) {
      $.post('/supprimecommentaire',
      {
        idcomment: id
      }, function()
      {
        location.reload();
      });
    }

    function creer() {
      if (document.getElementById("textcomment").value != "") {
        $.post('/creercommentaire',
        {
          text: document.getElementById("textcomment").value,
          idrecette: <%= recette_info.rows[0].id %>
        }, function()
        {
          location.reload();
        });
      }
    }

    function love() {
      $.post('/aimerrecette',
      {
        idrecette: <%= recette_info.rows[0].id %>
      }, function()
      {
        location.reload();
      });
    }

    function notlove() {
      $.post('/plusaimerrecette',
      {
        idrecette: <%= recette_info.rows[0].id %>
      }, function()
      {
        location.reload();
      });
    }
  </script>

  <script>
  function hideThings() {
    $('#first').toggleClass('hidden');
  }
  </script>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>

  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>

  <script>
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 300) {
        $(this).addClass("slideAni");
      }
    });
  });
  </script>

</body>



</html>
